{% extends 'base_g.html' %}

{% block content %}

<style>
    .container2 {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    table, td, th {
        border: blue 1px solid;
        
    }

</style>

<div class="container2">
    <img src="http://imatges.vrn47.cat/Logo/UCL-FormBanner2.jpg" style="width:100%;"">
    <h1 class='centered'>Points table</h1>
</div>

<main class="container">
    {% csrf_token %}
    <div class="row mt-5">
        {{ forecasts_html|safe }}
    </div>
</main>

{% endblock %}