{% extends 'base_g_next.html' %}

{% block banner %}

<div class="eljoc-banner">
    <img src="//imatges.vrn47.cat/Logo/{{ banner }}" style="width:100%;" class="eljoc-banner-img">
    <span class="eljoc-banner-title shadow">Points table</span>
    <span class="eljoc-banner-title bronze">Points table</span>
    <span class="eljoc-banner-title silver">Points table</span>
    <span class="eljoc-banner-title gold">Points table</span>
</div>

{% endblock %}

{% block content %}

<style>
    table, td, th {
        border: goldenrod 1px solid;
        font-size: xx-small;        
    }
</style>

<main>
    <div class="card card-body mt-4">
        {% csrf_token %}
        {{ forecasts_html|safe }}
    </div>
</main>

{% endblock %}