{% extends 'base_g.html' %}

{% block content %}

<style>
    .container2 {
      position: relative;
      text-align: center;
      color: white;
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>

<div class="container2">
    <img src="http://imatges.vrn47.cat/Logo/UCL-FormBanner2.jpg" style="width:100%;"">
    <h1 class='centered'>Standings</h1>
</div>

<main class="container mt-5">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Player</th>
        <th scope="col">Points</th>
        <th scope="col">∆</th>
        <th scope="col">Prize</th>
      </tr>
    </thead>
    <tbody>
      {% for standings in standings %}
        <tr>
          <td scope="row">{{forloop.counter}}</td>
          <td scope="row"><img src="http://imatges.vrn47.cat/Honours/Stars/v2/{{ standings.stars }}.png" width="20" height="20"></td>
          {% if standings.w == 0 %} <td scope="row"><s>{{ standings.fn|slice:1 }}{{ standings.ln }}</s></td> {% else %} <th scope="row">{{ standings.fn|slice:1 }}{{ standings.ln }} {% endif %}</th>
          <th scope="row">{{ standings.pts }}</th>
          <td scope="row">{% if standings.dlt == stats.maxdlt %} <b>{{ standings.dlt }}✨</b> {% elif standings.dlt == stats.mindlt %} <b><FONT COLOR="#ff0000">{{ standings.dlt }}⚠️</b> {% elif standings.dlt > stats.avgdlt %} <FONT COLOR="#008000">{{ standings.dlt }} {% elif standings.dlt < stats.avgdlt %} <FONT COLOR="#FFA500">{{ standings.dlt }} {% else %} {{ standings.dlt }} {% endif %} </td>
          <td scope="row">{% if standings.p > 0 %} <img src="http://imatges.vrn47.cat/Logo/LogoElJocDEF50.png" width="20" height="20"> {% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
