{% extends 'base_pdb_next.html' %}

{% block banner %}

<div class="eljoc-banner">
    <img src="//imatges.vrn47.cat/Logo/BannerElJoc.png" class="eljoc-banner-img">
    <span class="eljoc-banner-title shadow">History</span>
    <span class="eljoc-banner-title bronze">History</span>
    <span class="eljoc-banner-title silver">History</span>
    <span class="eljoc-banner-title gold">History</span>
</div>

{% endblock %}

{% block content %}

<main class="eljoc-container col-md-6 offset-md-3">
  <div class="row mt-5">
    <div class="">
        <p>EL JOC<br>
            It is a private game to forecast football competition results.<br>
            It has 4 stages: Group, Knock-Out, Roll of Honours and Bonus.</p>
    </div>
  </div>
  </main>


  {% endblock %}