{% extends 'base_pdb_next.html' %}

{% block banner %}

<div class="eljoc-banner">
    <img src="//imatges.vrn47.cat/Logo/BannerElJoc.png" class="eljoc-banner-img">
    <span class="eljoc-banner-title shadow">El Joc</span>
    <span class="eljoc-banner-title bronze">El Joc</span>
    <span class="eljoc-banner-title bronze2">El Joc</span>
    <span class="eljoc-banner-title bronze3">El Joc</span>
    <span class="eljoc-banner-title bronze4">El Joc</span>
    <span class="eljoc-banner-title silver">El Joc</span>
    <span class="eljoc-banner-title silver2">El Joc</span>
    <span class="eljoc-banner-title silver3">El Joc</span>
    <span class="eljoc-banner-title silver4">El Joc</span>
    <span class="eljoc-banner-title gold">El Joc</span>
</div>

{% endblock %}

{% block content %}

<main class="eljoc-container col-md-8 offset-md-2">
    <div class="row mt-5">
        <a class="btn btn-gold" href="/login/">Login</a>
    </div>
    <div class="row mt-5">
        <a class="btn btn-silver" href="/register/">Register</a>
    </div>
</main>

{% endblock %}