{% extends 'base_pdb_next.html' %}

{% block banner %}

<div class="eljoc-banner">
    <img src="//imatges.vrn47.cat/Logo/BannerElJoc.png" class="eljoc-banner-img">
    <span class="eljoc-banner-title shadow">Login</span>
    <span class="eljoc-banner-title bronze">Login</span>
    <span class="eljoc-banner-title silver">Login</span>
    <span class="eljoc-banner-title gold">Login</span>
</div>

{% endblock %}

{% block content %}

<main class="eljoc-container col-md-8 offset-md-2">
  <div class="row mt-5">
    <form method="POST" class="card card-body">
      <div class="">
        {{ error }}
      </div>
      {% csrf_token %}
      <div class="form-floating mb-3 txt-gold">
        <input type="email" name="email" id="email" class="form-control" placeholder="Write your email" required>
        <label for="email"><i class="bi bi-at"></i> Write your email: </label>
      </div>
      <button class="btn btn-gold">
        Login
      </button>
    </form>
    {% if error %}
      <form action="{% url 'register' %}" class="card card-body">
        {% csrf_token %}
        <button class="btn btn-silver">
          Register
        </button>
      </form>
    {% endif %}
  </div>
</main>

{% endblock %}