{% extends 'base_pdb.html' %}

{% block content %}

<style>
  .container2 {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<div class="container2">
  <img src="http://imatges.vrn47.cat/Logo/Euro-FormBanner24.png" style="width:100%;"">
    <h1 class='centered'>Login</h1>
</div>

<main class=" container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
      <form method="POST" class="card card-body">
        <div class="mb-3">
          {{ error }}
        </div>
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="email" name="email" id="email" class="form-control" placeholder="Write your email" required>
          <label for="email">Write your email: </label>
        </div>

        <button class="btn btn-primary">
          Login
        </button>
      </form>
      {% if error %}
        <form action="{% url 'register' %}" class="card card-body">
          {% csrf_token %}
          <button class="btn btn-info">
            Register
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  </main>


  {% endblock %}