{% extends 'base_pdb_next.html' %}

{% block banner %}

<div class="eljoc-banner">
    <img src="//imatges.vrn47.cat/Logo/BannerElJoc.png" class="eljoc-banner-img">
    <span class="eljoc-banner-title shadow">Player info</span>
    <span class="eljoc-banner-title bronze">Player info</span>
    <span class="eljoc-banner-title silver">Player info</span>
    <span class="eljoc-banner-title gold">Player info</span>
</div>

{% endblock %}

{% block content %}

<main>
    <div class="eljoc-container">
        <form method="POST" class="card card-body col-md-8 offset-md-2 mt-5">
            <div class="row">
                <div class="col-6 mt-1">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="email" class="form-control" value="{{ playerDB.email }}" readonly>
                        <label for="player.email">Email:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="fname" id="fname" class="form-control" value="{{ playerDB.fname }}" readonly>
                        <label for="form.fname">Name: </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="lname" id="lname" class="form-control" value="{{ playerDB.lname }}" readonly>
                        <label for="lname">Last name: </label>
                    </div>
                </div>
                <div class="col-3 mt-1">
                    <div class="form-floating mb-3">
                        <input type="number" name="stars" id="stars" class="form-control" value="{{ playerDB.stars }}" readonly>
                        <label for="stars">Stars: </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" name="id" id="id" class="form-control" value="{{ playerDB.id }}" readonly>
                        <label for="id">DB Id: </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" name="id" id="id" class="form-control" value="{{ player.id }}" readonly>
                        <label for="id">Id: </label>
                    </div>
                </div>
                <div class="col-3 mt-1">
                    <div class="mb-3">
                        <img src="//imatges.vrn47.cat/Honours/Stars/v2/{{ playerDB.stars }}.png" width="60" height="60">
                    </div>
                    <div class="form-floating mb-3">
                        <img src="//imatges.vrn47.cat/Logo/LogoElJocDEF50.png" width="60" height="60">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" name="winnable" id="winnable" class="form-control" value="{{ player.winnable }}" readonly>
                        <label for="stars">Winnable: </label>
                    </div>
                </div>
            </div>
        </form>
        {% if player == None %}
        <div class="eljoc-container">
            <form method="POST" class="card card-body col-md-8 offset-md-2 mt-5">
                <div class="row">
                    <h3>Join edition</h3>
                    {% csrf_token %}
                    <div class="form-floating gx-2">
                        <select name="e_id" id="e_id" class="form-select" placeholder="" required>
                            <option selected></option>
                            {% for editions in editions %}
                            <option value="{{ editions.id }}">{{editions.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="e_id">Select El Joc edition: </label>
                        <div class="helptext"></div>
                        <button class="btn btn-gold col-md-12 mt-2">
                            Join
                        </button>
                    </div>     
                </div>
            </form>
        </div>
        {% else %}
        <div class="eljoc-container">
            <div class="card card-body col-md-8 offset-md-2 mt-5">
                <a class="btn btn-gold" href="/game/">Go to competition menu</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>


    {% endblock %}