{% extends 'base_pdb.html' %}

{% block content %}

<style>
  .container2 {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 30px;
  }
</style>

<div class="container2">
  <img src="http://imatges.vrn47.cat/Logo/UCL-FormBanner2.jpg" style="width:100%;"">
    <h1 class='centered'>Register</h1>
</div>


<main class=" container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
      <form method="POST" class="card card-body">

        <div class="mb-3">
          {{error}}
        </div>

        {% csrf_token %}

        <div class="form-floating mb-3">
          <input type="email" name="email" id="email" class="form-control" placeholder="Write your email" required>
          <label for="email">Email: </label>
          <div class="helptext"></div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" name="fname" id="fname" class="form-control" placeholder="Write your first name" required>
          <label for="fname">Name: </label>
          <div class="helptext"></div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" name="lname" id="lname" class="form-control" placeholder="Write your last name" required>
          <label for="lname">Last name: </label>
          <div class="helptext"></div>
        </div>

        <button class="btn btn-primary">
          Register
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock %}